*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* outline:1px solid red; */
}

header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: #000;
}
header nav {
        position: relative;
        right: 30px;
}

header h1{
    position: relative;
    left: 20px;
}